.item {
    display: grid;
    grid-gap: var(--spacing-sm);
}

.item__space{
    margin-bottom: var(--spacing-lg);
}

@media (min-width: 760px) {
    .col__two {
        grid-template-columns: repeat(2, 50%);
        grid-gap: var(--spacing-md);
    }
}

.form__submitButton {
    background: var(--color-primary--100);
    border: none;
    border-radius: var(--spacing-md);
    padding: var(--spacing-md);
    font-size: 1em;
    color: var(--color-light);
}