.navBar {
    background-color: var(--color-primary--100);
    color: var(--color-light);
    min-width: 32px;
    height: 100vh;
    left: -2px;
    padding: var(--spacing-lg);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.navBar--active {
    left: 0;
    min-width: 250px;
    transition: 350ms;
}

.content {
    background-color: var(--color-secondary--20);
    box-shadow: var(--shadow-base);
    border-radius: var(--spacing-lg) 0 0 var(--spacing-lg);
    max-height: 100%;
    padding: var(--spacing-xl);
    width: 100%;
}