.navBar {
    background-color: var(--color-primary--100);
    min-width: 32px;
    height: 100vh;
    left: -2px;
    padding: var(--spacing-lg);
}

.navBar__sections{
    display: flex;
    flex-direction: column;
}

.login {
    margin-top: 25rem;
}

.nav__ul{
    list-style-type: none;
    display: grid;
    grid-gap: var(--spacing-lg);
    padding: var(--spacing-lg);
}

.nav__li {
    color: var(--color-light);
    text-decoration: none;
}

.navBar--active {
    left: 0;
    min-width: 250px;
    transition: 350ms;
}

.content {
    background-color: var(--color-secondary--20);
    box-shadow: var(--shadow-base);
    border-radius: var(--spacing-lg) 0 0 var(--spacing-lg);
    padding: var(--spacing-xl);
    width: 82%;
}

.home {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, auto);
    grid-gap: var(--spacing-lg);
}

.box {
    background-color: var(--color-secondary--40);
    padding: var(--spacing-lg);

}

@media (min-width: 760px) {
    .content {
        max-height: 100%;
        flex-grow: 2;
        width: auto;
    }
}