.applications {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: var(--spacing-lg);
}

.container {
    background-color: var(--color-secondary--70);
    border-radius: var(--spacing-xs);
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.box__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--color-light);
    box-shadow: var(--shadow-base);
    padding: var(--spacing-lg);
    border-radius: var(--spacing-md);
    outline: none;
}

@media (min-width: 1100px) {
    .applications {
        display: grid;
        grid-template-rows: initial;
        grid-template-columns: repeat(3, auto);
        height: 85%;
        grid-gap: var(--spacing-lg);
    }
}