.swiperbox {
    background-color: var(--color-light);
    border-radius: var(--spacing-md);
    padding: var(--spacing-lg);
    box-shadow: var(--shadow-base);
    min-height: 100px;
    margin-bottom: var(--spacing-md);
}

.swiperbox:last-child{
    margin-bottom: unset;
}

.study_swiper {
    height: 100%;
}

.swiper__slide {
    background-color: var(--color-primary--10);
    padding: var(--spacing-xl) var(--spacing-md);
    height: 100%;
}

.swiper-button-prev{
    background-color: white;
}

.swiper-button {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}
.swiper-button svg {
    width: 1.5rem;
    height: 1.5rem;
}
.image-swiper-button-prev {
    left: 5px;
}
.image-swiper-button-next {
    right: 5px;
}
.swiper-button-disabled {
    opacity: 0.5;
}