:root {
    --color-primary--100: rgb(255, 153, 0);
    --color-primary--90: rgb(255, 174, 26);
    --color-primary--80: rgb(255, 183, 51);
    --color-primary--70: rgb(255, 192, 77);
    --color-primary--60: rgb(255, 201, 102);
    --color-primary--50: rgb(255, 210, 128);
    --color-primary--40: rgb(255, 219, 153);
    --color-primary--30: rgb(255, 228, 179);
    --color-primary--20: rgb(255, 237, 204);
    --color-primary--10: rgb(255, 246, 230);

    --color-secondary--100: rgb(217, 217, 217);
    --color-secondary--90: rgb(221, 221, 221);
    --color-secondary--80: rgb(225, 225, 225);
    --color-secondary--70: rgb(228, 228, 228);
    --color-secondary--60: rgb(232, 232, 232);
    --color-secondary--50: rgb(236, 236, 236);
    --color-secondary--40: rgb(240, 240, 240);
    --color-secondary--30: rgb(244, 244, 244);
    --color-secondary--20: rgb(247, 247, 247);
    --color-secondary--10: rgb(251, 251, 251);

    --color-light: rgb(255,255,255);
    --color-dark: rgb(71,71,71);

    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 40px;

    --shadow-base: -4px 0px 16px 0px rgba(0,0,0,0.2);

    --swiper-theme-color: rgb(255, 153, 0) !important;
}

html,
body {
    background-color: var(--color-primary--100);
    padding: 0;
    margin: 0;
    max-height: 100vh;
    position: sticky;
    overflow: hidden;
}

#__next {
    display: flex;
}

h1 {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary--100);
}

